:root {
  --main-font: "Roboto", sans-serif;
  --second-font: "Raleway", sans-serif;
  --main-title-color: #212121;
  --accent-color: #2196f3;
  --content-color: #757575;
  --add-white-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.address {
  font-style: normal;
}

/* =============== HEADER ===============  */

.header {
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}

.header .container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;

  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
}

.logo {
  font-family: var(--second-font);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-right: 90px;

  color: #2196f3;
}

.logo-text-header {
  color: black;
}

.nav-list .link.current {
  color: #2196f3;
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-list-item:not(:last-child) {
  margin-right: 50px;
}

.nav-link {
  position: relative;

  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;

  color: #212121;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link::after {
  content: "";

  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
}

.current::after {
  opacity: 1;
}

.nav-link:hover,
.nav-link:focus {
  color: #2196f3;
}

.contacts-header-list {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.header-contacts-item {
  margin-right: 30px;
}

.contacts-icon {
  fill: currentColor;
  margin-right: 10px;
}

.contacts-link {
  display: flex;
  align-items: center;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link:hover,
.contacts-link:focus {
  color: #2196f3;
}

/* ============== END HEADER ============== */

/* ============== HERO ================= */

.hero {
  max-width: 1600px;
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: rgba(196, 196, 196, 1);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/hero/hero-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.hero .container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;

  display: flex;
  align-items: center;
  flex-direction: column;
}

.hero-title {
  font-family: var(--main-font);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  padding-left: 240px;
  padding-right: 240px;
  margin-bottom: 30px;

  color: #ffffff;
}

.modal-button {
  min-width: 200px;
  padding: 10px 32px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0;
  border-radius: 4px;
  cursor: pointer;
}

.modal-button:hover,
.modal-button:focus {
  background: #188ce8;
}

.modal-button-text {
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;

  color: #ffffff;
}

/* =============== END HERO ================ */

/* =============== FEATURES ================ */

.features {
  padding-top: 94px;
  padding-bottom: 47px;
}

.features .container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.features-list {
  display: flex;
  justify-content: center;
  margin-left: -30px;
  margin-top: -30px;
}

.features-item {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.features-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
}

.features-item-title {
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;

  color: #212121;
}

.features-item-description {
  font-family: var(--main-font);
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;

  letter-spacing: 0.03em;

  color: #757575;
}

/* ============= END FEATURES ============== */

/* ========== WHAT WE ARE DOING ============ */

.we-doing {
  padding-top: 47px;
  padding-bottom: 94px;
}

.we-doing .container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.we-doing-title {
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

  margin-bottom: 50px;

  color: #212121;
}

.we-doing-list {
  display: flex;
  align-items: center;
  margin-left: -30px;
  margin-top: -30px;
}

.we-doing-list-item {
  position: relative;
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.we-doing-img {
  width: 370px;
  height: 294px;
}

.we-doing-overlay {
  position: absolute;
  bottom: 0;
  left: 0;

  font-family: var(--main-font);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding: 27px;
  width: 100%;
  height: 70px;

  color: #ffffff;

  background-color: rgba(47, 48, 58, 0.8);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* ========= END WHAT WE ARE DOING ========= */

/* =============== TEAM ================= */

.team {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}

.team .container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;

  display: flex;
  align-items: center;
  flex-direction: column;
}

.team-title {
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;

  color: #212121;
}

.team-list {
  display: flex;
  margin-left: -30px;
  margin-top: -30px;
}

.team-item1 {
  width: 270px;
  left: 215px;
  top: 1635px;

  background: #ffffff;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0px 0px 4px 4px;

  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.team-item2 {
  width: 270px;
  left: 815px;
  top: 1635px;

  background: #ffffff;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0px 0px 4px 4px;

  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.team-item3 {
  width: 270px;
  left: 815px;
  top: 1635px;

  background: #ffffff;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0px 0px 4px 4px;

  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.team-item4 {
  width: 270px;
  left: 815px;
  top: 1635px;

  background: #ffffff;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0px 0px 4px 4px;

  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.team-img1 {
  width: 270px;
  height: 260px;
  left: 215px;
  top: 1635px;

  border-radius: 0px;
}

.team-img2 {
  width: 270px;
  height: 260px;
  left: 515px;
  top: 1635px;

  border-radius: 0px;
}

.team-img3 {
  width: 270px;
  height: 260px;
  left: 815px;
  top: 1635px;

  border-radius: 0px;
}

.team-img4 {
  width: 270px;
  height: 260px;
  left: 1115px;
  top: 1635px;

  border-radius: 0px;
}

.team-item-title {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;

  text-align: center;
  letter-spacing: 0.03em;

  margin-bottom: 10px;

  color: #212121;
}

.team-item-position {
  font-family: var(--main-font);
  font-weight: normal;
  font-size: 16px;
  line-height: 1.18;

  text-align: center;
  letter-spacing: 0.03em;

  margin-bottom: 16px;

  color: #757575;
}

.team-item-content-wrapper {
  padding: 30px 32px;
}

.social-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: #2196f3;
}

.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon {
  fill: #ffffff;
}

.social-list-icon {
  width: 20px;
  height: 20px;
  color: rgba(175, 177, 184, 1);
  fill: currentColor;
}

/* =============== END TEAM =============== */

/* ============== CLIENTS ================= */

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients .container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.clients-title {
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

  margin-bottom: 50px;

  color: #212121;
}

.clients-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.clients-list > .clients-list-item {
  flex-basis: calc(100% / 6 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.clients-list-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.clients-list-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90px;
  border: 1px solid rgba(175, 177, 184, 1);
  border-radius: 4px 4px 4px 4px;
  background-color: #ffffff;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list-link:hover,
.clients-list-link:focus {
  border-color: var(--accent-color);
}

.clients-list-icon {
  color: rgba(175, 177, 184, 1);
  fill: currentColor;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list-icon:hover,
.clients-list-icon:focus {
  color: var(--accent-color);
  fill: currentColor;
}

.clients-list-link:hover .clients-list-icon,
.clients-list-link:focus .clients-list-icon {
  fill: var(--accent-color);
}

/* ============= END CLIENTS =============== */

/* ============== PORTFOLIO =============== */

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* =========== PORFOLIO BUTTONS =========== */

.filter-set {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 50px;
}

.filter-item:not(:last-child) {
  margin-right: 10px;
}

.filter-item-button {
  background: #f5f4fa;
  border-radius: 4px;
  cursor: pointer;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;

  border: 1px solid #fff;

  padding: 6px 22px;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-item-button:hover,
.filter-item-button:focus {
  background-color: #2196f3;
  color: #ffffff;

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border: 1px solid transparent;
}

/* ============ PORTFOLIO CARDS ============ */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.portfolio .container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.card-set {
  display: flex;
  flex-wrap: wrap;

  margin-left: -30px;
  margin-top: -30px;
}

.card-set > .card-set-item {
  flex-basis: calc(100% / 3 - 30px);

  margin-left: 30px;
  margin-top: 30px;
}

.card-set-link {
  display: block;
}

.card-set-link:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card-set-link:hover .overlay,
.card-set-link:focus .overlay {
  transform: translateY(0%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.card-heading {
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 18px;
  line-height: 2;

  letter-spacing: 0.06em;

  color: #212121;
}

.card-text {
  font-family: var(--main-font);
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;

  letter-spacing: 0.03em;

  color: #757575;
}

.card-content {
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  border-top: none;
  padding: 20px 24px;
}

.card-text {
  margin-top: 5px;
}

.card-thumb {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  color: #ffffff;
  background: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  height: 100%;
  overflow: hidden;
  transform: translateY(100%);

  font-family: var(--main-font);
  font-weight: normal;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
}

/* =========== END PORTFOLIO ============ */

/* ============== FOOTER ================ */

.footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer .container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;

  display: flex;
  align-items: baseline;
}

.logo-text-footer {
  color: #ffffff;
}

.address {
  margin-top: 20px;
}

.address-info {
  font-family: var(--main-font);
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;

  letter-spacing: 0.03em;

  margin-bottom: 9px;

  color: #ffffff;
}

.footer-mail-link {
  font-family: var(--main-font);
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;

  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-mail-link:hover,
.footer-mail-link:focus {
  color: #2196f3;
}

.footer-phone-link {
  font-family: var(--main-font);
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;

  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-phone-link:hover,
.footer-phone-link:focus {
  color: #2196f3;
}

.footer-mail {
  margin-bottom: 9px;
}

.footer-wrapper {
  display: block;
}

.footer-wrapper:not(:last-child) {
  margin-right: 70px;
}

.footer-social-list-item:not(:last-child) {
  margin-right: 10px;
}

.footer-social-title {
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer-social-list {
  display: flex;
  align-items: center;
}

.footer-social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-list-link:hover,
.footer-social-list-link:focus {
  background-color: #2196f3;
}

.footer-social-list-link:hover .footer-social-list-icon,
.footer-social-list-link:focus .footer-social-list-icon {
  fill: #ffffff;
}

.footer-social-list-icon {
  color: #ffffff;
  fill: currentColor;
}

/* FOOTER EMAIL FORM */

.footer-form-title {
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer-email-input {
  width: 358px;
  height: 50px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  border-radius: 4px;
  background-color: transparent;

  color: rgba(255, 255, 255, 0.6);
  padding-left: 16px;
}

.footer-email-input:focus {
  border-color: var(--accent-color);
}

::placeholder {
  font-family: var(--main-font);
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;

  display: flex;
  align-items: center;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

.footer-form-button {
  min-width: 200px;
  height: 50px;
  margin-left: 12px;
  padding: 10px 30px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0;
  border-radius: 4px;
  cursor: pointer;
}

.footer-button-text {
  font-family: var(--add-white-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;
}

/* ============= END FOOTER =============== */

/* Модальное окно */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: #ffffff;
}

.modal-close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
